.nav-wrapper {
    background-color: #E52A3B;
  background-image: url('../img/churquitos.png'); 
  
}

.barraNavegacion {
    position: fixed;
    
    bottom: 0;
}

/* .cajota {
    height: 100vh;
} */

.LogoPrincipal {

    margin: 2em;
    position: fixed;
    top:.5rem;
}

.barralateral {
    position: fixed;
    left: 2rem;
    top: 10rem;
    height: 70vh;
    width: .1em;
    background-color: #E52A3B;
}

.redes {
    position: fixed;
    top: 3rem;
    right: 3rem;
}

.chat-container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 340px;
    height: auto;
    position:fixed;
    bottom:65px;
    right: 15px;
    z-index: 999;
}

.chat-button {
    width: 100%;
    margin:0;
    cursor: pointer;
    user-select: none;
    padding: 4px 0;
    background-color: #337bA7;
    text-align: center;
    color: aliceblue;
}

.chat-content {
    margin: 0;
    padding: 0;
    background-color: #fff;
    
}

.chat-button:active .chat-content {
    background-color: black;
    display:block;
}


@media (max-width: 800px ) {

    .LogoPrincipal {

        margin: 0;
        position: fixed;
        top:1rem;
        width: 80px;
    }

    .redes {
        top: 1rem;
    }
}
