.App {
  text-align: center;
  border: 0;
  display: flex;
  

}

.onvacation_quetedetiene {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #E52A3B;
  background-image: url('./img/churquitos.png'); 
  background-size: 120%;
  width: 100%;
  height: 100vh;

}


.btn {
  background-color: #DE0A11;
}



